---
import SourceAttr from "../components/SourceAttr.astro";
import FormattedDate from "./FormattedDate.astro";

let { title, date, updatedDate, attr, cover } = Astro.props;
const sourceLink = (attr && attr.sourceLink) || "";
const sourceName = (attr && attr.sourceName) || "";
const siteLink = (attr && attr.siteLink) || "";
const siteName = (attr && attr.siteName) || "";
if (title.indexOf(" ") > -1) {
  let arr = title.split("").reverse();
  arr[arr.indexOf(" ")] = " ";
  title = arr.reverse().join("");
}
---

<div class="title">
  <h1 class="text-center text-3xl">{title}</h1>
  <div class="date text-right text-sm text-gray-400">
    <FormattedDate date={date} />
    {
      updatedDate && (
        <span class="last-updated-on">
          (updated <FormattedDate date={updatedDate} />)
        </span>
      )
    }
  </div>
  <div class="hero-image">
    {cover && <img width={1020} height={510} src={cover.src} alt="" />}
    {attr && <SourceAttr {sourceLink} {sourceName} {siteLink} {siteName} />}
  </div>
</div>
