---
import CategoryLink from "./CategoryLink.astro";
import FormattedDate from "./FormattedDate.astro";
import { Image } from "astro:assets";

const {post, hideCategory} = Astro.props;
post.slug+='/';
if (!post.data.cover || !post.data.cover.src) {
  console.log(Astro.props)
}
const coverAlt = 'Cover image for ' + post.data.title.replace('-', '')

---
<div class="p-4 lg:w-1/2 w-full">
    <div class="flex p-4 bg-wedgewood-50">
      <div class="h-24 w-16 mr-4 inline-flex flex-shrink-0">
        <Image  src={post.data.cover} class="object-cover object-center" width=64 height=96 decoding="async" loading="lazy" alt={coverAlt} />
      </div>
      <div class="flex-grow">
        { !hideCategory && <CategoryLink post={post} /> }
        <a href={post.slug} >
          <h2 class="text-gray-900 text-lg title-font font-medium hover:underline">{ post.data.title }</h2>
          <p class="leading-relaxed text-base mb-3">{ post.data.description }</p>
        </a>
        <p class="text-right">
          <FormattedDate date={post.data.date} />
        </p>
      </div>
    </div>