---
import CategoryLink from "./CategoryLink.astro";
import { Image } from "astro:assets";
import FormattedDate from "./FormattedDate.astro";
const { post } = Astro.props;
let imageClass = 'lg:h-80 lg:w-1/3 h-36 md:h-36 '
imageClass += ['Book', 'Book Review'].includes(post.data.type) ?
  ' object-contain custom-bg' :
  ' object-center object-cover';
---

<section data-cmp="card-hero" class="body-font w-full text-gray-600">
  <div
    class="mx-5 my-0 flex flex-col items-center bg-wedgewood-50 md:my-4 md:flex-row"
  >
    <div class="mb-10 flex w-5/6 w-full md:mb-0 md:w-1/2 lg:w-full">

      { 
        post.data.cover && <Image class={ imageClass } src={ post.data.cover } height=341 alt="blog" />
      }
      <div
        class="lg:grow h-80 flex w-full flex-col items-center text-center md:w-1/2 md:items-start md:px-4 md:py-4 md:text-left lg:px-12"
      >
        <CategoryLink post={post} />
        <a
          href={post.slug}
          class="text-gray-900 hover:text-wedgewood-900 hover:underline"
        >
          <h1 class="title-font mb-4 text-3xl font-medium sm:text-4xl">
            {post.data.title}
          </h1>
        </a>
        <p class="mb-8 leading-relaxed">{post.data.description}</p>
        <p class="w-full text-right">
          <FormattedDate date={post.data.date} />
        </p>
      </div>
    </div>
  </div>
</section>
